@import url('/assets/frontend/css/style.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    
    /* color: #fff; */
}

body {
    background: var(--content-color);
    color: black;
}

ul {
    list-style-type: none;
}

ul>li {
    margin-bottom: 15px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 65px;
    margin-left: 15px;
}

input {
    width: 90%;
    height: 35px;
    outline: none;
    padding: 0 10px;
    border: 0px solid;
    background-color: transparent;
    border: 1px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.support {
    padding: 40px 200px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-area {
    margin-left: 20px;
    width: 600px;
    /* background-color: #c3c7f4; */
}

.form-area>form {
    width: 100%;
    height: 100%;
}

.form-area form>.full {
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}


.half {
    width: 100%;
}

form div>p {
    margin-bottom: 10px;

}

.contact-info {
    padding: 20px;
    width: 300px;
}

textarea {
    border: 0px solid;
    padding: 10px 15px;
    outline: none;
    width: 95%;
    height: 100px;
    background-color: transparent;
    border: 1px solid black;
}

button {
    color: black;
    width: 160px;
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #a872e2;
    border: none;
}

.social-contact {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    /* background: #c3c7f4; */
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.social-contact a>i {
    font-size: 40px;
}

.home{
    background-color: #a872e2;
    padding: 10px;
    border-radius: 30px;
}